:ruby
  label_classes = {
    'failed'  => 'label-danger',
    'created' => 'label-info',
    'manual'  => 'label-info',
    'running' => 'label-info',
    'success' => 'label-success',
    'success_with_warnings' => 'label-warning'
  }
  web_url = payload.project.web_url
  p_status = payload.object_attributes.status
  p_label_class = label_classes[p_status].presence || 'label-default'
  p_id = payload.object_attributes.id
  p_url = "#{web_url}/pipelines/#{p_id}"

%div
  %span.label{class: p_label_class}
    #{p_status}
  &nbsp;
  %a{href: p_url} Pipeline ##{p_id}
  on 
  %a{href: web_url} #{payload.project.name}

  %details
    %summary
      Jobs
    %ul
      - payload.builds.each do |build|
        - status = build.status
        - label_class = label_classes[status].presence || 'label-default'
        - job_url = "#{web_url}/-/jobs/#{build.id}"
        %li
          %span.col-xs-1.label{class: label_class}
            #{status}
          &nbsp;
          %a{href: job_url}= build.name
