:ruby
  label_classes = {
    'failed'  => 'label-danger',
    'created' => 'label-info',
    'manual'  => 'label-info',
    'success' => 'label-success',
    'success_with_warnings' => 'label-warning'
  }
  web_url = payload.project.web_url
  pipeline_url = "#{web_url}/pipelines/#{payload.object_attributes.id}"

%div
  %a{href: pipeline_url} Pipeline
  is #{payload.object_attributes.status}.

  %details
    %summary
      Jobs
    %ul
      - payload.builds.each do |build|
        - status = build.status
        - label_class = label_classes[status].presence || 'label-default'
        - job_url = "#{web_url}/-/jobs/#{build.id}"
        %li
          %span.col-xs-1.label{class: label_class}
            #{status}
          &nbsp;
          %a{href: job_url}= build.name
