%div
  %span= avatar_image_tag(payload.user.icon.thumb_s.url)
  #{payload.user.name} (#{payload.user.screen_name})
  joined
  %a{href: "https://#{payload.team.name}.esa.io/team"}= "#{payload.team.name} team"
  (\( ⁰⊖⁰)/)
