- alert = payload.alert
%p
  %span.label{class: label_class_from_build_status(alert.status)}= alert.status.upcase
  - if host = payload.host
    #{alert.monitorName} at #{host.name} (#{host.status}) #{host.roles.first.try(:fullname)}
  - else
    #{alert.monitorName}
  = surround '(', ')' do
    %a{href: alert.url} detail
