:ruby
  body            = payload.pullrequest_created
  repository_name = body.destination.repository.full_name

%p
  %span
    = avatar_image_tag(body.author.links.avatar.href)

  %a{href: bitbucket_url("/#{body.author.username}")}
    = body.author.display_name
  created pull request to
  %a{href: bitbucket_url("#{repository_name}/pull-request/#{body.id}")}
    #{repository_name}##{body.id}

  %b= body.title

= md body.description
