:ruby
  repository = payload.repository
  issue      = payload.issue
  actor      = payload.actor
  comment    = payload.comment

%p
  %span
    = avatar_image_tag(actor.links.avatar.href)

  %a{href: actor.links.html.href}
    = actor.display_name
  created issue comment to
  %a{href: comment.links.html.href}
    #{repository.full_name}##{comment.id}

.bitbucket-html!= comment.content.html