%p
  %span= avatar_image_tag payload.sender.avatar_url
  %a{href: payload.sender.html_url}= payload.sender.login
  = case payload.review.state
  - when 'approved'          then 'approved pull request'
  - when 'changes_requested' then 'requested changes on pull request'
  - when 'commented'         then 'commented on pull request'

  %a{href: payload.review.html_url} #{payload.repository.full_name}##{payload.pull_request.number}
  %b #{payload.pull_request.title}

= md payload.review.body
