:ruby
  branch = payload.ref.split('/', 3).last # refs/heads/:branch_name

%p
  %span= avatar_image_tag payload.sender.avatar_url
  %a{href: payload.sender.html_url}= payload.sender.login

  - if payload.forced && !payload.created # Somehow `payload.forced` is `true` on created
    force-pushed to
  - else
    pushed to

  %a{href: "#{payload.repository.url}/tree/#{URI.escape(branch)}"}= branch
  at
  %a{href: payload.repository.url} #{payload.repository.owner.name}/#{payload.repository.name}

  = surround '(', ')' do
    %a{href: payload.compare} compare

- if payload.commits.present?
  %ul
    - payload.commits.each do |commit|
      %li
        - head, *tail = commit.message.lines

        %a{href: commit.url}<
          %tt= commit.id[0...7]
        = head
        = md tail.join
