- resource_type = payload.resource_type
%div
  %i.fa.fa-plus-square-o
  【#{resource_type}】
  %span
    = avatar_image_tag(payload.action_user.avatar_photo.url)
  = payload.action_user.account
  created
  %a{ href: payload[resource_type].url }= payload[resource_type].title
- unless hide_body?
  %div
    = HTML::Pipeline::MarkdownFilter.new(payload[resource_type].content_md, gfm: true).call.to_s.html_safe
